@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(''),
      url('assets/fonts/montserrat-light.woff2') format('woff2'),
      url('assets/fonts/montserrat-light.woff') format('woff'),
      url('assets/fonts/montserrat-light.ttf') format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
      url('assets/fonts/montserrat-regular.woff2') format('woff2'),
      url('assets/fonts/montserrat-regular.woff') format('woff'),
      url('assets/fonts/montserrat-regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
      url('assets/fonts/montserrat-bold.woff2') format('woff2'),
      url('assets/fonts/montserrat-bold.woff') format('woff'),
      url('assets/fonts/montserrat-bold.ttf') format('ttf');
}
